.manage {
    padding: 28px 20px 28px;

    &-row {
        display: flex;
        align-items: center;
    }

    &-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-head {
        font-weight: 700;
        font-size: 24px;
    }

    &-num {
        font-size: 13px;
        color: #666666;
    }

    &-create {
        margin-left: 16px;
        padding: 6px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #008B77;
        font-weight: 700;
        font-size: 14px;
        color: #008B77;
        border-radius: 50px;
        cursor: pointer;
    }

    &-create:hover {
        background-color:#15C0A7;
        border-color: #15C0A7;
        color: #fff;
    }
}


