.popup {
    position: fixed;
    left: 50%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -0%);
    z-index: 999;
}

.box {
    // background: $background2;
    padding-top: 32px;
    height: 100vh;

    .block-box {
        width: 456px;
        background-color: $secondary2;
        box-shadow: 0px 4px 16px rgba(21, 21, 21, 0.3);
        border-radius: 32px;
        padding: 32px;
        align-self: flex-start;
        margin: auto;
        margin-bottom: 32px;
        @include respond-to("phone") {
            width: 90%;
        }
    }

    .btn-white {
        width: 456px;
        margin: auto;
    }

    .title {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }

    .text {
        margin-top: 14px;
        font-size: 14px;
        color: #666666;
    }

    // 刪除

    &-hint {
        text-align: center;
        color: #666666;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &-cancel {
        width: 204px;
        height: 36px;
        margin-right: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #008b77;
        color: #008b77;
        border-radius: 50px;
        cursor: pointer;
    }

    &-delete {
        width: 204px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #e83c31;
        border-radius: 50px;
        cursor: pointer;
    }
}
