.Mtable {

    &-row {
        display: flex;
        align-items: center;
    }

    &-icon-outer {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #008B77;
        border-radius: 50px;
        margin-right: 4px;
        cursor: pointer;
    }

    &-icon-outer:hover {
        background-color:#15C0A7;
        border-color: #15C0A7;
        color: #fff;
    }

    &-icon {
        
    }

    &-look {
        display: flex;
        align-items: center;
        margin-right: 4px;
        padding: 8px 12px;
        font-size: 14px;
        background-color: #008B77;
        border-radius: 50px;
        color: #FFFFFF;
        cursor: pointer;
    }

    &-look:hover {
        background-color: #15C0A7;
    }
}
