$primary1: #008B77;
$primary2: #15C0A7;
$primary3: #007362;


$secondary1: #FFC300;
$secondary2: #FFFFFF;

$text1: #333333;
$text2: #666666;
$text3: #999999;
$text5: #848484;

$border1:#CCCCCC;
$border2:#B5B5B5;
$border3:#E7E7E7;
$border4:#333333;


$background1: #FFFBF4;;
$background2: #EFEFEF;
$background3: #333333;
